.preloader{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top left, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  z-index: 2;
}

.Supload{
  height: 10vw;
  width: 10vw;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  border: 10px solid white;
  border-radius: 50%;
  border-bottom:  black;

  animation: 2s Forload infinite ease;
}

.Liae{
  height: 1vw;
  width: 1vw;

  position: absolute;
  left: 17%;
  top: 25%;
  z-index: 2;
  transform: translate(-3%, -4%);

  background-color: black;
  border-radius: 50%;
  border: 4px solid white;
}

.Riae{
  height: 1vw;
  width: 1vw;

  position: absolute;
  right: 17%;
  top: 25%;
  z-index: 2;
  transform: translate(-3%, -4%);

  background-color: black;
  border-radius: 50%;
  border: 4px solid white;
}

.mouse{
  height: 2vw;
  width: 3.5vw;

  position: absolute;
  right: 0.5vw;
  top: 7.5vw;
  z-index: 2;
  transform: translate(-50%, -75%);

  border: 4px solid #5f2626;
  border-radius: 30%;
  border-bottom: black;
}

.Fail{
  z-index: 2;
  position: fixed;
  height: 10%;
  width: 80%;

  top: 30%;
  left: 35%;
  transform: translate(-30%, -35%);

  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 3vw;
}

.Img{
  z-index: 2;
  position: fixed;
  bottom: 20vw;
  left: 50%;

  transform: translate(-50%);
}

.IMG{
  width: 50vw;
}

@keyframes Forload {
  0%{
    transform: translate(-50%, -50%) rotate(50deg);
  }
  50%{
    transform: translate(-50%, -50%) rotate(-50deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(50deg);
  }
}
